Repository raurodmen1997/decide, pull requests merged in 2020-01, with the labels that each got.

#19 Framarcha postproc
  decide/postproc/tests.py
  decide/postproc/views.py
Labels: Feature, Test

#34 Crilorbre postproc - Añadido numero de escaños al JSON
  decide/postproc/tests.py
  decide/postproc/views.py
  decide/voting/models.py
Labels: Feature

#38 framarcha posproc - Uniformizacion de datos entrada/salida metodo "HONDT"
  decide/postproc/tests.py
  decide/postproc/views.py
Labels: refactor

#41 [TEST-REFACTOR] - [#39] - Cambios para unificar input/output + Limpieza
  decide/postproc/tests.py
  decide/postproc/views.py
Labels: Test, refactor
